.navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  gap: 80vh;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  color: #fff;
  box-shadow: 0 2px 8px rgba(45,124,255,0.07);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 24px;
  font-weight: 500;
  transition: color 0.2s;
}


.navbar-links a:hover {
  color: #ffe066;
}

.navbar .nav-btn-cta {
  background: #ffe066;
  color: #2d7cff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.navbar .nav-btn-cta:hover {
  transition: all 0.3s ease-in-out;
  background: #ffd23f;
  color: #2d7cff !important;
  transform: scale(1.06);
}